{% extends 'base.html' %}

{% block content_above %}
  {% set positions = ['all', 'def', 'mid', 'att', 'rbs', 'lbs', 'rms', 'lms', 'cms', 'sts', 'gk', 'rwb', 'rb', 'cb', 'lb', 'lwb', 'cdm', 'cm', 'cam', 'rm', 'rw', 'rf', 'lm', 'lw', 'lf', 'cf', 'st'] %}
  <div>
    Positions:

    {% for position in positions %}
      {% if request.GET.pos %}
        <a href="{{ url(remove=['pos']) }}">{{ position }}</a>
      {% else %}
        <a href="{{ url(get={'pos': position}) }}">{{ position }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% set levels = ['all', 'gold', 'silver', 'bronze', 'totw_all', 'totw_gold', 'totw_silver', 'totw_bronze', 'rare_all', 'rare_gold', 'rare_silver', 'rare_bronze', 'nonrare_all', 'nonrare_gold', 'nonrare_silver', 'nonrare_bronze', 'legend'] %}
  <div>
    Level:

    {% for level in levels %}
      {% if request.GET.lvl %}
        <a href="{{ url(remove=['lvl']) }}">{{ level }}</a>
      {% else %}
        <a href="{{ url(get={'lvl': level}) }}">{{ level }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% set sort_by = ['rating', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physical'] %}
  <div>
    Sort:

    {% for sort in sort_by %}
      {% if request.GET.sort %}
        <a href="{{ url(remove=['sort']) }}">{{ sort }}</a>
      {% else %}
        <a href="{{ url(get={'sort': sort}) }}">{{ sort }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
